body {
  background-color: rgb(20, 18, 18);
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 1s ease-in-out;
}
.full-img {
  width: 100%;
}
